* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

/* nav bar start  */

.nav-bar {
    background-color: rgb(159,197,248);
    display: flex;
    color: whitesmoke;
    width: 100%;
    height: 125px;
    align-items: center;
    justify-content: space-around;
}

.nav-bar h1 {
    font-size: 35pt;
    margin-left: 175px;
}

.locations {
    width: 60%;
}

.locations ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 28pt;
}

li {
    cursor: pointer;
}

/* nav bar end */

/* main header start */

.main-header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    padding: 18px;
    border-bottom: 5px solid black;
}

.main-header h1 {
    font-size: 32pt;
}

.main-header p {
    font-size: 16pt;
}

.main-header p select {
    font-size: 20pt;
}

/* end main header */

/* start main container */

.main-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.temp-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(238,238,238);
    width: 260px;
    height: 600px;
    margin: 25px;
}

.main-img {
    border-radius: 50%;
    width: 150px;
}

.main-p {
    font-size: 18pt;
}

.tempHighs, .tempLows {
    display: inline;
    margin: 35px;
    font-size: 18pt;
}

.tempHighs::after, .tempLows::after {
    content: "°";
}

.tempHighs {
    color: red;
}

.tempLows {
    color: blue;
}

/* end main container */

/* start cookie alert */

.cookieAlert {
    position: fixed;
    left: 135px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238,238,238);
    border: 5px solid black;
    width: 80%;
    height: 120px;
}

.cookie-img {
    width: 65px;
    margin: 10px;
}

.cookie-message {
    width: 80%;
}

.cookie-button button {
    font-weight: bolder;
    font-size: 14pt;
    color: black;
    background-color: rgb(159,197,248);
    height: 50px;
    width: 150px;
    box-shadow: 5px 5px black; 
    margin-right: 15px;
}

